doctype html
html
  head
    title Hello Jade
  body
    h1 Reddit
    p Welcome #{currentUser}
    p this page has been viewed #{viewCount} times
    ul
      each entry in entries
        li= entry.title

